# These owners will be the default owners for everything in the repo. 

*   @axa-group/bauta-reviewers


# Maintainers must validate repository configuration files

/.github/worflows   @axa-group/bauta-admins
/.github/CODEOWNERS   @axa-group/bauta-admins

