{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:jest/recommended", "airbnb-typescript/base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "jest", "prettier"],
  "rules": {
    "max-classes-per-file": "off",
    "prefer-spread": 0,
    "comma-dangle": ["error", "never"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  }
}
